.page {
    max-width: 1200px;
    /* ancho máximo del contenido */
    margin: 0 auto;
    /* centra horizontalmente */
    padding: 30px;
    /* espacio interno */
    color: #ffffff;
    font-family: "Inter", "Arial", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    /* incluye padding dentro del ancho */
}
body{
margin: 0;
background-color: #000000;
}

